<!-- bootstrap this bitch -->

<div class = "nav-top">
    <img src = "./assets/brand/logo-name-white.png">
</div>

<div *ngIf = "complete == 'done'" class = "status-holder">
  <img class="status-icon" src = "./assets/icons/circle-checkmark.svg">
  <div class = "status-text">{{ 'PASSWORD_RESET.SUCCESS' | translate }}</div>
</div>

<div *ngIf = "complete == 'error'" class = "status-holder">
  <img class="status-icon" src = "./assets/icons/circle-x.svg">
  <div class = "status-text">{{ 'PASSWORD_RESET.ERROR' | translate }}</div>
  <div class = "subtext">{{ 'PASSWORD_RESET.TRY' | translate }}</div>
</div>

<div *ngIf = "status == 'expired'" class = "status-holder">
  <img class="status-icon" src = "./assets/icons/warning.svg">
  <div class = "status-text">{{ 'PASSWORD_RESET.EXPIRED' | translate }}</div>
</div>

<div *ngIf = "(status == 'valid') && (!complete || complete == 'form-error')" class = "password-form-holder">
  <div class = "form-title">{{ 'PASSWORD_RESET.RESET' | translate }}</div>
  <div class = "input-holder">
    <div class = "labels">{{ 'PASSWORD_RESET.NEW' | translate }}</div>
    <input type = "password" [(ngModel)] = "newPass">
    <div *ngIf = "complete == 'form-error'" class = "status-bar red">{{ 'PASSWORD_RESET.NOT_MATCH' | translate }}</div>
  </div>
  <div class = "input-holder">
    <div class = "labels">{{ 'PASSWORD_RESET.CONFIRM' | translate }}</div>
    <input type = "password" [(ngModel)] = "confirmNewPass">
    <div *ngIf = "complete == 'form-error'" class = "status-bar red">{{ 'PASSWORD_RESET.NOT_MATCH' | translate }}</div>
  </div>
  <button class = "submit-btn" [disabled] = "newPass.length == 0 || confirmNewPass.length == 0" (click) = "saveNewPassword()">{{ 'PASSWORD_RESET.SAVE' | translate }}</button>
</div>

