
<!-- Bottom Section -->
<div class = "container-fluid bottom-area">
    <div class="row">
      <div class="col-sm-3 bot-col">
        <div class = "col-header"> {{ 'FOOTER.COMPANY' | translate }}</div>
        <!-- <div class = "col-list-item"><a class = "white" routerLink="/residence" routerLinkActive="active">{{ 'RESIDENCE.RESIDENCE' | translate }}</a></div> -->
        <div class = "col-list-item"><a class = "white" routerLink="/about" routerLinkActive="active">{{ 'ABOUT.US' | translate }}</a></div>
        <!--<div class = "col-list-item">Jobs</div> not initial-->
        <div class = "col-list-item"><a class = "white" routerLink="/contact" routerLinkActive="active">{{ 'CONTACT.US' | translate }}</a></div>
        <!-- <div class = "col-list-item"><a class = "white" href = "https://medium.com/livingsqr" target="_blank" routerLinkActive="active">Blog</a></div> -->
      </div>
      <div class="col-sm-3 bot-col">
        <div class = "col-header"> {{ 'FOOTER.APP' | translate }}</div>
        <!--<div class = "col-list-item">Learn</div>-->
        <!--<div class = "col-list-item"><a class = "white" routerLink="/payment" routerLinkActive="active">Payments</a></div>-->
        <div class = "col-list-item"><a class = "white" routerLink="/get-started" routerLinkActive="active">{{ 'GET_STARTED.TITLE2' | translate }} </a></div>
        <div class = "col-list-item"><a class = "white" routerLink="/try-demo" routerLinkActive="active">{{ 'HOME.START_TRIAL' | translate }} </a></div>
      </div>
      <!-- <div class="col-sm-3 bot-col">
        <div class = "col-header">{{ 'FOOTER.PARTNERS' | translate }}</div>
        <div class = "col-list-item"><a class = "white" routerLink="/partners-sponsors" routerLinkActive="active">{{ 'FOOTER.BECOME_PARTNER' | translate }}</a></div>
      </div> -->
      <div class="col-sm-3 bot-col">
        <div class = "col-header">{{ 'FOOTER.PRIVACY' | translate }}</div>
        <div class = "col-list-item"><a class = "white" routerLink="/privacy-policy" routerLinkActive="active">{{ 'FOOTER.PRIVACY_POLICY' | translate }} </a></div>
        <div class = "col-list-item"><a class = "white" routerLink="/terms" routerLinkActive="active">{{ 'FOOTER.TERMS' | translate }} &amp; {{ 'FOOTER.CONDITIONS' | translate }}</a></div>
      </div>
    </div>
    <div class="row trademark-footer">
        <img class = "logo" src = "./assets/brand/logo-name-white.png" alt = "Logo White">
        <div *ngIf = "innerWidth > 480" class = "social-media-holder">
          <a href = "https://www.facebook.com/LivingSqrApp/" target="_blank"><img class = "icon" src = "./assets/icons/facebook.svg"></a>
          <a href = "https://twitter.com/LivingSqrApp" target="_blank"><img class = "icon" src = "./assets/icons/twitter.svg"></a>
          <a href = "https://www.instagram.com/livingsqr/" target="_blank"><img class = "icon" src = "./assets/icons/instagram.svg"></a>
          <a href = "https://www.youtube.com/channel/UCtTp_XHBDWUGmGlSpLM-IXw" target="_blank"><img class = "icon" src = "./assets/icons/youtube.svg"></a>
          <a href = "https://www.linkedin.com/company/11447565/" target="_blank"><img class = "icon" src = "./assets/icons/linkedin.svg"></a>
        </div>
    </div>
  </div>
