@import "../../styles";

.bottom-area{
    text-align: center;
    padding: 2rem 0;
    border-top: 1.5px solid rgba(0,0,0,0.6);
    background: $tertiary;
    color: white;

    .row{
        margin-left: calc(6% + 2rem);
        .bot-col{
            margin-bottom: 3rem;
            width: 20rem;
            .col-header{
                font-size: 2.4rem;
            }
            .col-list-item{
                margin-top: 0.7rem;
                a{
                    font-size: 1.8rem;
                    opacity: 0.8;
                    text-decoration: none; 
                }
                a:hover { 
                    opacity: 1;
                    text-decoration: underline;
                }  
            }
        }
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .row{
            margin-left: initial;
            .bot-col{
                width: initial;
            }
        }
    }
    

    .logo-adjustment{
        transform: scale(1.5, 1.5);
        margin-left: 2rem;
        margin-top: 0.4rem;
    }

    .trademark-footer{
        margin: 0 6%;
        padding-top: 1.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.9);
        width: 80%;
        display: inline-flex;
        text-align: left;
        align-items: center;
        height: 6rem;
        img{
            height: 3.5rem;
        }
        .logo{
            height: 5.2rem;
        }

        .social-media-holder{
            position: absolute;
            right: 10%;
            .icon{
                margin-right: 1vw;
            }
        }
    }
}