<div class="container-fluid nav-area sp">
  <div class="sp-bg bg-contact"></div>
  <div class="purple-filter sp"></div>
  <app-nav-bar></app-nav-bar>
  <h1 class="main-text sp">
      {{ 'CONTACT.US' | translate }}
  </h1>
</div>

<div class="container-fluid sp-content">
  <div class="content-block">
    <div class="only content">
        {{ 'CONTACT.QUESTION' | translate }}
      
    </div>
  </div>
  <form *ngIf="!successfullySent" class="form-holder" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="row single-row">
      <div class="form-label dark">{{ 'CONTACT.EMAIL' | translate }}
        <span *ngIf="!contactForm.get('email').valid && submit_once" class="error-message">{{ 'CONTACT.REQUIRED' | translate }}</span>
      </div>
      <input class="form-input dark" formControlName='email' type="text">
    </div>
    <div class="row">
      <div class="col-sm-6 bot-col">
        <div class="form-label dark">{{ 'CONTACT.FNAME' | translate }}
          <span *ngIf="!contactForm.get('first_name').valid && submit_once" class="error-message">{{ 'CONTACT.REQUIRED' | translate }}</span>
        </div>
        <input class="form-input" formControlName='first_name' type="text">
      </div>
      <div class="col-sm-6 bot-col">
        <div class="form-label dark">{{ 'CONTACT.LNAME' | translate }}</div>
        <input class="form-input" formControlName='last_name' type="text" placeholder="optional">
      </div>
    </div>
    <div class="row single-row">
      <div class="form-label dark">{{ 'CONTACT.SUBJECT' | translate }}
        <span *ngIf="!contactForm.get('subject').valid && submit_once" class="error-message">{{ 'CONTACT.REQUIRED' | translate }}</span>
      </div>
      <input class="form-input" formControlName='subject' type="text">
    </div>
    <div class="row single-row text-area">
      <div class="form-label dark text-area">{{ 'CONTACT.MESSAGE' | translate }}
        <span *ngIf="!contactForm.get('message').valid && submit_once" class="error-message">{{ 'CONTACT.REQUIRED' | translate }}</span>
      </div>
      <textarea class="textarea-white" type="text" formControlName='message'></textarea>
    </div>
    <div [class.loader]="loading"></div>
    <div class="submit-wrapper">
      <button type="submit" class="submit-btn" [disabled]="loading">{{ 'CONTACT.SEND' | translate }}</button>
    </div>
  </form>
  <div *ngIf="successfullySent" style="text-align: center;">
    <img class="email-status-icon" src="./assets/icons/circle-checkmark.svg">
    <div class="email-status-text">{{ 'CONTACT.SEND_SUCCESS' | translate }} </div>
    <div class="email-subtext">{{ 'CONTACT.EMAIL_SUBTEXT' | translate }}{{emailSentTo}}</div>
  </div>

</div>
<app-footer></app-footer>