@import "../../single-page";

.button-holder{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    .cta{
        margin: 1rem;
        font-size: 3rem;
        text-shadow: none;
        background: #484faa;
        padding: 1rem 2rem;
        color: #fff;
        border-radius: 4px;
        box-shadow: -2px 1px 3px 1px rgba(0,0,0,.3);
        border: 2px solid rgba(48,60,207,.6);
        a{
            color: white;
            text-decoration: none;
        }
    }
}
