<div class="container-fluid nav-area sp">
  <div class="sp-bg bg-residence"></div>
  <div class="purple-filter sp"></div>
  <app-nav-bar></app-nav-bar>
  <h1 class="main-text sp">
    {{ 'RESIDENCE.TITLE' | translate }}
  </h1>
</div>

<div class="container-fluid sp-content">
  <div class="content-block">
    <h3 class="title">
      {{ 'ABOUT.WHAT' | translate }}
    </h3>
    <div class="content">
      {{ 'RESIDENCE.WHAT_DESC' | translate }}
    </div>
  </div>
  <div class="content-block">
    <h3 class="title">
      {{ 'RESIDENCE.BENEFITS' | translate }}
    </h3>
    <div class="content">
      {{ 'RESIDENCE.BENEFITS_DESC' | translate }} <a routerLink="/" routerLinkActive="active">{{ 'RESIDENCE.HERE' | translate }}</a>   
    </div>
  </div>
  <div class="content-block">
    <h3 class="title">
      {{ 'RESIDENCE.NEXT_STEP' | translate }}
    </h3>
    <div class="content">
      {{ 'RESIDENCE.NEXT_STEP_DESC' | translate }}
    </div>
  </div>
  <div class = "button-holder">
    <button class = "cta"><a routerLink="/sales" routerLinkActive="active">{{ 'HOME.CONTACT_SALES' | translate }}</a></button>
  </div>
</div>

<app-footer></app-footer>