<div class="container-fluid nav-area sp">
  <div class="sp-bg bg-about"></div>
  <div class="purple-filter sp"></div>
  <app-nav-bar></app-nav-bar>
  <h1 class="main-text sp">
    {{ 'ABOUT.US' | translate }}
  </h1>
</div>

<div class="container-fluid sp-content">
  <div class="content-block">
    <h3 class="title">
        Team
    </h3>
    <div class="content team">
        <div>
          <h4>Founder</h4> 
          <div class="member">
            <div class="pic alessandro"></div>
            <a href="https://www.linkedin.com/in/alessandro-kreslin/" target="_blank">Alessandro Kreslin </a>
          </div>
        </div>
        <div>
          <h4>Full Stack Developer</h4> 
          <div class="member">
            <div class="pic nick"></div>
            <a href="https://www.linkedin.com/in/nick-zombolas/" target="_blank">Nick Zombolas</a>
          </div>
        </div>
        <div>
          <h4>Frontend Developer</h4> 
          <div class="member">
            <div class="pic arthur"></div>
            <a href ="https://www.linkedin.com/in/arthur-tourneyrie-431054174/" target="_blank">Arthur Tourneyrie</a>
          </div>
        </div>
    </div>
  </div>
  <div class="content-block">
    <h3 class="title">
      {{ 'ABOUT.WHAT' | translate }}
    </h3>
    <div class="content">
        {{ 'ABOUT.DESCRIPTION' | translate }}
    </div>
  </div>
  <div class="content-block">
    <h3 class="title">
        {{ 'ABOUT.MISSION' | translate }}
    </h3>
    <div class="content">
        {{ 'ABOUT.MISSION_DESCRIPTION' | translate }}
    </div>
  </div>
  <div class="content-block">
    <h3 class="title">
        {{ 'ABOUT.VISION' | translate }}
    </h3>
    <div class="content">
        {{ 'ABOUT.VISION_DESCRIPTION' | translate }}
    </div>
  </div>
</div>
<app-footer></app-footer>