@import "../../single-page";

.team {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    .member {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        margin-bottom: 4rem;
        margin-right: 10px;
    
        .pic {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            background-size: cover;
            margin-right: 20px;
    
            &.alessandro {
                background-image: url('../../assets/team/ales.png');
            }
    
            &.arthur {
                background-image: url('../../assets/team/arthur.png');
            }
    
            &.nick {
                background-image: url('../../assets/team/nick.png');
            }
        }
    }
}