<div class="container-fluid nav-area sp">
  <div class="sp-bg bg-demo"></div>
  <div class="purple-filter sp"></div>
  <app-nav-bar></app-nav-bar>
  <h1 class="main-text sp">
    Demo
  </h1>
</div>


<div class="container-fluid sp-content">
  <div class="content-block">
    <div class="content">
      {{ 'TRY_DEMO.DESCRIPTION' | translate }}
    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'GET_STARTED.STEP_0' | translate }}
    </h3>
    <div class="content">
      {{ 'GET_STARTED.STEP_0_DESCRIPTION' | translate }}
    </div>
    <div class="image-holder">
      <div class="download-holder">
        <div class="download" (click)="openStore('ios')">
          iPhone
          <img src="./assets/icons/apple.svg" alt="Apple Icon">
        </div>
        <div class="download" (click)="openStore('android')">
          Android
          <img src="./assets/icons/android-green.svg" alt="Android Icon">
        </div>
      </div>

    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'TRY_DEMO.STEP_1' | translate }}
    </h3>
    <div class="content">
      {{ 'TRY_DEMO.STEP_1_DESCRIPTION' | translate }}
    </div>
    <div class="image-holder">
      <img src="./assets/demo/demo-demo.jpg" alt="First Page">
    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'TRY_DEMO.STEP_2' | translate }}
    </h3>
    <div class="content">
      {{ 'TRY_DEMO.STEP_2_DESCRIPTION.PART_1' | translate }} <a routerLink="/sales" routerLinkActive="active">{{ 'TRY_DEMO.STEP_2_DESCRIPTION.PART_2' | translate }}</a> {{ 'TRY_DEMO.STEP_2_DESCRIPTION.PART_3' | translate }}
    </div>
    <div class="image-holder">
      <img src="./assets/demo/demo-fp.jpg" alt="Building Tab">
      <img src="./assets/demo/demo-shared.png" alt="Shared Tab">
    </div>
  </div>
</div>
<app-footer></app-footer>