<app-nav-bar [isBlack] = "true"></app-nav-bar>
<!-- Register for Initial Release -->
<div class = "container-fluid register">
  
  <div class = "title">{{ 'GET_STARTED.TITLE2' | translate }}</div>
  
  <div class = "register-description">{{ 'GET_STARTED.DESCRIPTION2' | translate }}</div>
  <form *ngIf = "!successfullySent" class = "form-holder" [formGroup] = "registerForm" (ngSubmit) = "onSubmit()">
    <div class="row single-row">
      <mat-form-field class="form-input-liv">
        <input matInput type = "email" placeholder="{{ 'LANDLORD_REGISTER.EMAIL' | translate }}" formControlName = 'email'>
        <mat-error *ngIf = "!registerForm.get('email').valid && submit_once">{{ 'LANDLORD_REGISTER.REQUIRED' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-sm-6 bot-col">
        <mat-form-field class="form-input-liv">
          <input matInput type = "text" placeholder="{{ 'LANDLORD_REGISTER.FNAME' | translate }}" formControlName = 'first_name'>
          <mat-error *ngIf = "!registerForm.get('first_name').valid && submit_once">{{ 'LANDLORD_REGISTER.REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 bot-col">
        <mat-form-field class="form-input-liv">
          <input matInput type = "text" placeholder="{{ 'LANDLORD_REGISTER.LNAME' | translate }}" formControlName = 'last_name'>
          <mat-error *ngIf = "!registerForm.get('last_name').valid && submit_once">{{ 'LANDLORD_REGISTER.REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 bot-col">
        <mat-form-field class="form-input-liv">
          <input matInput type = "text" placeholder="{{ 'LANDLORD_REGISTER.COUNTRY' | translate }}" formControlName = 'country'>
          <mat-error *ngIf = "!registerForm.get('country').valid && submit_once">{{ 'LANDLORD_REGISTER.REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 bot-col">
        <mat-form-field class="form-input-liv">
          <input matInput type = "text" placeholder="{{ 'LANDLORD_REGISTER.CITY' | translate }}" formControlName = 'city'>
          <mat-error *ngIf = "!registerForm.get('city').valid && submit_once">{{ 'LANDLORD_REGISTER.REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 bot-col">
        <mat-form-field class="form-input-liv">
          <input matInput type = "number" placeholder="{{ 'LANDLORD_REGISTER.NO_BUILDING' | translate }}" formControlName = 'num_buildings'>
          <mat-error *ngIf = "!registerForm.get('num_buildings').valid && submit_once">{{ 'LANDLORD_REGISTER.REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 bot-col">
        <mat-form-field class="form-input-liv">
          <input matInput type = "number" placeholder="{{ 'LANDLORD_REGISTER.NO_UNITS' | translate }}" formControlName = 'num_units'>
          <mat-error *ngIf = "!registerForm.get('num_units').valid && submit_once">{{ 'LANDLORD_REGISTER.REQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row single-row text-area">
        <div class = "form-label text-area dark"> {{ 'LANDLORD_REGISTER.COMMENT_QUESTION' | translate }}</div>
        <textarea class = "questions-input" type = "text" formControlName = 'comments'></textarea>
    </div>
    <div class = "submit-wrapper">
        <div [class.loader] = "loading"></div>
        <button class = "btn-adjust" mat-stroked-button type = "submit" [disabled] = "loading">{{ 'LANDLORD_REGISTER.SUBMIT' | translate }}</button>
        <!--<button type = "submit" class = "submit-btn" [disabled] = "loading"> {{ 'LANDLORD_REGISTER.SUBMIT' | translate }}</button>-->
    </div>
  </form>

  <div *ngIf = "successfullySent">
      <img class="email-status-icon" src = "./assets/icons/circle-checkmark.svg">
      <div class = "email-status-text"> {{ 'LANDLORD_REGISTER.EMAIL_SENT' | translate }} </div>
      <div class = "email-subtext"> {{ 'LANDLORD_REGISTER.SENT_TO' | translate }} {{emailSentTo}}</div>
  </div>
</div>

<app-footer></app-footer>