@import "../../styles";
@import "../../forms";

.register{
    background-image: linear-gradient(to right top, #ca8e6b, #dd9a65, #eca95c, #f8b952, #ffcb47);
    text-align: center;
    padding: 6%;
    .register-description{
        margin: 3% 10% 2rem;
        font-size: 1.8rem;
        color: rgba(0,0,0,0.7);
        max-width: 60vw;
        display: inline-block;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin: 3% 0% 6%;
            max-width: 100%;
        }
    }
}

.questions-input{
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0,0,0,0.7);
    border: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

.title{
    margin-top: 8rem;
    margin-bottom: 0;
}

.btn-adjust{
    margin-top: 2rem;
}

.form-input-liv{
    width: 100%;
    font-size: 1.7rem;
}
