<div class = "nav-top">
    <img src = "./assets/brand/logo-name-white.png">
</div>

<div class = "status-holder">
    <img class="status-icon" src = "./assets/icons/circle-x.svg">
    <div class = "status-text">
      <div class = "big">404</div>
      <div>{{ 'PAGE_NOT_FOUND.TITLE' | translate }}</div>
    </div>
    <div class = "subtext"><a class = "dark" routerLink="/home" routerLinkActive="active">{{ 'PAGE_NOT_FOUND.RETURN' | translate }}</a></div>
</div>

<app-footer></app-footer>
