@import "../../styles";

.feature-row{
    padding: 5.5rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding: 5.5rem 2rem;
        padding-bottom: 0;
    }
    .height-adjustment{
        height: 25vh;
        min-height: 41rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-bottom: 3rem;
            height: inherit;
            min-height: inherit;
        }
    }

    .feature-text-block{
        display: flex;
        justify-content: center;
        align-items: center;
        .feature-title{
            font-weight: bold;
            font-size: 4.2rem;
            margin-bottom: 3rem;
            margin-top: 0;
        }
        .feature-description{
            font-size: 2.2rem;
            color: rgba(0, 0, 0, 0.7);
            width: 70%;
            min-width: 25rem;
            line-height: 3.5rem;
            opacity: 0.9;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: 100%;
            }
            .note{
                opacity: 0.7;
                font-size: 1.5rem;
            }
        }
    }

    .feature-img-block{
        text-align: center;
        .icon{
            height: 100%;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                height: initial;
                width: 100%;
                //margin-top: 3rem;
                &.phone{
                    max-height: 28rem;
                    width: inherit;
                }
                &.interac{
                    margin-top: 0;
                }
            }
            &.timeline{
                border-radius: 20px;
                box-shadow: 0px 2px 22px 10px rgba(0,0,0,0.4);
                &.white{
                    box-shadow: 0px 2px 22px 10px rgba(112, 120, 222, 0.5)
                }
            }
            &.phone{
                //transform: scale(1.2,1.2);
            }
        }
        &.phone-row{
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }
}

.triangle-up {
    border-right: 1000px solid transparent;
    border-top: 100px solid white;
    margin-bottom: 12rem;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 0;
}

.triangle-bottom {
    border-right: 1000px solid transparent;
    border-bottom: 100px solid white;
    margin-bottom: 12rem;
    position: absolute;
    left: 0;
    z-index: 2;
    bottom: -12rem;
    &.last{
        left: initial;
        right: 0;
        border-left: 1000px solid transparent;
        border-right: initial;
    }
    &.purple{
        border-bottom-color: $primary;
    }
    &.yellow{
        border-bottom-color: $secondary;
    }
}


.parallax-row{
    background: transparent;
    position: relative;
    padding: 15rem 5rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding: 15rem 3rem;
    }
    .parallax { 
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        
        &.p1{ 
            background-image: url("../../assets/img/timeline-bg.jpg");
            background-attachment: scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                background-attachment: scroll;
                background-image: url("../../assets/img/timeline-bg.jpg");
            }
        }
        &.p2{ 
            background-image: url("../../assets/img/payments-bg.jpg");
            background-attachment: scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                background-attachment: scroll;
                background-image: url("../../assets/img/payments-bg.jpg");
            }
        }
        &.p3{ 
            background-image: url("../../assets/img/manager.jpg");
            background-attachment: scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                background-attachment: scroll;
                background-image: url("../../assets/img/manager.jpg");
            }
        }
        &.p4{ 
            background-image: url("../../assets/img/982.jpg");
            background-attachment: scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                background-attachment: scroll;
                background-image: url("../../assets/img/982.jpg");
            }
        }
    }
    .color-overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #4D5061;
        opacity: 0.7;
    }
    .feature-text-block{
        .feature-title{
            color: white;
        }
        .feature-description{
            color: white;
        }
        .feature-action{
            border-color: white;
            color: white;
        }
    }
}

//.feature-row:nth-child(odd){
.feature-row{
    position: relative;
    //box-shadow: 1px 0px 20px 2px rgba(0, 0, 0, 0.3);
}

.feature-row:last-child{
    //box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.4);
}