<div class = "container-fluid ">

  <div class="row feature-row parallax-row">
    <div class="triangle-up"><div></div></div>
    <div class = "parallax p1"></div>
    <div class = "color-overlay"></div>
    <div class="col-md-6 col-md-push-6 feature-img-block height-adjustment phone-row">
      <img data-aos = "fade-left" data-aos-anchor-placement="top-center" class = "icon phone" src = "./assets/screenshots/desktop-phone-tablet.png" alt = "LivingSqr on Mobile">
    </div>
    <div class="col-md-6 col-md-pull-6 feature-text-block height-adjustment" align="center">
      <div>
        <h2 class = "feature-title">{{ 'FEATURE_OVERVIEW.ACCESS' | translate }}</h2>
        <p class = "feature-description">{{ 'FEATURE_OVERVIEW.ACCESS_DESCRIPTION' | translate }}<br></p>
      </div>
    </div>
    <div class="triangle-bottom"><div></div></div>
  </div>

  <div class="row feature-row">
    <div class="col-md-6 feature-img-block height-adjustment">
      <img data-aos = "fade-right" data-aos-anchor-placement="top-center" class = "icon timeline white" src = "./assets/screenshots/timeline.png" alt = "LivingSqr Timeline Screenshot">
    </div>
    <div class="col-md-6 feature-text-block height-adjustment" align="center">
      <div>
        <h2 class = "feature-title">{{ 'FEATURE_OVERVIEW.TIMELINE' | translate }}</h2>
        <p class = "feature-description">{{ 'FEATURE_OVERVIEW.TIMELINE_DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </div>
  
  <div class="row feature-row parallax-row">
      <div class="triangle-up"><div></div></div>
      <div class = "parallax p2"></div>
      <div class = "color-overlay"></div>
    <div class="col-md-6 col-md-push-6 feature-img-block height-adjustment">
      <img data-aos = "fade-left" data-aos-anchor-placement="top-center" class = "icon timeline " src = "./assets/screenshots/preview-request.jpg" alt = "LivingSqr Requests Screenshot">
    </div>
    <div class="col-md-6 col-md-pull-6 feature-text-block height-adjustment" align="center">
      <div>
        <h2 class = "feature-title">{{ 'FEATURE_OVERVIEW.COMMUNICATE' | translate }}</h2>
        <p class = "feature-description">{{ 'FEATURE_OVERVIEW.COMMUNICATE_DESCRIPTION' | translate }}</p>
      </div>
    </div>
    <div class="triangle-bottom"><div></div></div>
  </div>

  <div class="row feature-row ">
    <div class="col-md-6 feature-img-block height-adjustment">
      <img data-aos = "fade-right" data-aos-anchor-placement="top-center" class = "icon timeline white" src = "./assets/screenshots/chat.png" alt = "LivingSqr Document Screenshot">
    </div>
    <div class="col-md-6 feature-text-block height-adjustment" align="center">
      <div>
        <h2 class = "feature-title">{{ 'FEATURE_OVERVIEW.DIRECT_MESSAGING' | translate }}</h2>
        <p class = "feature-description">{{ 'FEATURE_OVERVIEW.DIRECT_MESSAGING_DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="row feature-row parallax-row">
      <div class="triangle-up"><div></div></div>
      <div class = "parallax p3"></div>
      <div class = "color-overlay"></div>
    <div class="col-md-6 col-md-push-6 feature-img-block height-adjustment">
      <img data-aos = "fade-left" data-aos-anchor-placement="top-center" class = "icon timeline " src = "./assets/screenshots/manager-screen.png" alt = "LivingSqr Manager Screenshot">
    </div>
    <div class="col-md-6 col-md-pull-6 feature-text-block height-adjustment" align="center">
      <div>
        <h2 class = "feature-title">{{ 'FEATURE_OVERVIEW.MANAGER' | translate }}</h2>
        <p class = "feature-description">{{ 'FEATURE_OVERVIEW.MANAGER_DESCRIPTION' | translate }}</p>
      </div>
    </div>
    <div class="triangle-bottom"><div></div></div>
  </div>
  <!---NEWWWWW-->

  <div class="row feature-row ">
    <div class="col-md-6 feature-img-block height-adjustment">
      <img data-aos = "fade-right" data-aos-anchor-placement="top-center" class = "icon timeline white" src = "./assets/screenshots/notification.jpg" alt = "LivingSqr Document Screenshot">
    </div>
    <div class="col-md-6 feature-text-block height-adjustment" align="center">
      <div>
        <h2 class = "feature-title">{{ 'FEATURE_OVERVIEW.DIGITAL' | translate }}</h2>
        <p class = "feature-description">{{ 'FEATURE_OVERVIEW.DIGITAL_DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="row feature-row parallax-row">
      <div class="triangle-up"><div></div></div>
      <div class = "parallax p4"></div>
      <div class = "color-overlay"></div>
    <div class="col-md-6 col-md-push-6 feature-img-block height-adjustment">
      <img data-aos = "fade-left" data-aos-anchor-placement="top-center" class = "icon timeline " src = "./assets/screenshots/tenants.jpg" alt = "LivingSqr Manager Screenshot">
    </div>
    <div class="col-md-6 col-md-pull-6 feature-text-block height-adjustment" align="center">
      <div>
        <h2 class = "feature-title">{{ 'FEATURE_OVERVIEW.98' | translate }}</h2>
        <p class = "feature-description">{{ 'FEATURE_OVERVIEW.98_DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </div>

</div>


