<div class="container-fluid nav-area sp">
  <div class="sp-bg bg1"></div>
  <div class="purple-filter sp"></div>
  <app-nav-bar></app-nav-bar>
  <h1 class="main-text sp">
    Payments
  </h1>
</div>

<div class="container-fluid sp-content">
  <div class="content-block">
    <h3 class="title">
      Under Construction
    </h3>
    <div class="content">
      Currently pending between two payment providers which will be providing high grade security as well as very low to no fees.
      We want to confirm the details with each provider before announcing anything permanent.
    </div>
  </div>
</div>
<app-footer></app-footer>