@import "../../single-page";
@import '../../styles.scss';
@import '../../slider.scss';


.register{
    background-image: linear-gradient(to right top, #d091f2, #ba8aee, #a384e9, #8b7ee4, #7078de);
    text-align: center;
    padding: 6%;
    .register-description{
        margin: 3% 10% 4rem;
        font-size: 1.8rem;
        color: rgba(0,0,0,0.7);
        //max-width: 60vw;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin: 3% 0% 6%;
        }
    }
}

.price-per-unit{
    margin-top: -14px;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

.pricing-header{
    color: white;
    margin: 6rem auto 3rem;
}

.pricing-holder{
    width: 80%;
    margin-left: 10%;
    background: white;
    box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.3);
    padding: 1rem 0;
    border-radius: 10px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        margin-left: 0;
        width: 100%;
    }
    .slider{
        width: 80%;
        box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
        border-radius: 10px;
        margin-left: 10%;
        margin-bottom: 2rem;
    }
    .slider:focus{
        outline: none;
    }
    .price{
        text-align: center;
        margin: 1rem;
        font-size: 50px;
        .dollar{
            opacity: 0.7;
            font-size: 15px;
            position: absolute;
            margin-left: -12px;
            margin-top: 5px;
        }
        .month{
            opacity: 0.4;
            font-size: 20px;
            position: absolute;
            margin-top: 35px;
        }
    }
    .price-input{
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        color: rgba(0,0,0,0.6);
        .input{
            text-align: center;
            border: none;
            box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
            border-radius: 5px;
            margin: 2rem;
            font-size: 2.8rem;
            width: 100px;
            color: $primary;
            font-weight: bold;
        }
    }
    .feature-table{
        color: rgba(0,0,0,0.7);
        .feature-holder{
            display: flex;
            padding: 1.5rem;
            margin: 0 10%;
            text-align: center;
            font-size: 2rem;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            i{
                font-size: 3.5rem;
                position: absolute;
                transform: translateX(-50%);
            }
            .feature{
                width: 50%;
            }
            .value{
                width: 50%;
                color: $primary;
                i{
                    color: $alert-green;
                }
            }
        }
    }
    .btn-holder{
        width: 100%;
        text-align: center;
        margin: 2rem auto;
    }
    .call-to-action{
        margin: 1rem;
        font-size: 2.5rem;
        background: #7078DE;
        padding: 1rem 2rem;
        color: white;
        border-radius: 4px;
        border: none;
        box-shadow: -2px 1px 3px 1px rgba(0,0,0,0.3);
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 5.5vw;
            margin: 0.5rem;  
        }
    }
}


