
<app-nav-bar></app-nav-bar>

<div class = "container-fluid register">
  <h1 class = "title pricing-header">{{ 'PRICING.TITLE' | translate }}</h1>
  <div class = "pricing-holder">
    <h2 *ngIf = "slideValue <= 250" class = "price"><span class = "dollar">$</span>{{getPrice()}}<span class = "month">/{{ 'PRICING.MONTH' | translate }}</span></h2>
    <h2 *ngIf = "slideValue > 250" class = "price">{{ 'PRICING.CONTACT_US' | translate }}</h2>
    <div class = "price-input">
      {{ 'PRICING.FOR' | translate }} 
      <input *ngIf = "slideValue != 251" class="input" [(ngModel)] = "slideValue">
      <input *ngIf = "slideValue == 251" class="input" value = "250+">
      {{ 'PRICING.UNITS' | translate }}
    </div>
    <div class = "price-per-unit">{{'PRICING.PER_UNIT' | translate}} {{pricePerUnit()}}$</div>

    <input class="slider" type="range" id="start" name="volume" min="10" max="251" [(ngModel)]="slideValue" />

    <div class = "feature-table">
      <div class = "feature-holder">
        <div class = "feature">{{ 'PRICING.NUMBER_OF_BUILDINGS' | translate }}</div>
        <div class = "value">{{ 'PRICING.UNLIMITED' | translate }}</div>
      </div>
      <div class = "feature-holder">
        <div class = "feature">{{ 'PRICING.NUMBER_OF_MANAGERS' | translate }}</div>
        <div class = "value">{{ 'PRICING.UNLIMITED' | translate }}</div>
      </div>
      <div class = "feature-holder">
        <div class = "feature">{{ 'PRICING.REQUEST_MANAGEMENT' | translate }}</div>
        <div class = "value"><i class="material-icons">check_circle</i></div>
      </div>
      <div class = "feature-holder">
        <div class = "feature">{{ 'PRICING.ANNOUNCEMENT_BOARD' | translate }}</div>
        <div class = "value"><i class="material-icons">check_circle</i></div>
      </div>
      <div class = "feature-holder">
        <div class = "feature">{{ 'PRICING.MESSAGING' | translate }}</div>
        <div class = "value"><i class="material-icons">check_circle</i></div>
      </div>
      <div class = "feature-holder">
        <div class = "feature">{{ 'PRICING.PERSONALIZED_ONBOARDING' | translate }}</div>
        <div class = "value"><i class="material-icons">check_circle</i></div>
      </div>
      <div class = "feature-holder">
        <div class = "feature">{{ 'PRICING.MOBILE_ACCESSIBILITY' | translate }} </div>
        <div class = "value"><i class="material-icons">check_circle</i></div>
      </div>
      
    </div>
    <div class = "btn-holder">
      <button class = "call-to-action" routerLink="/sales" routerLinkActive="active">{{ 'PRICING.START_TRIAL' | translate }}</button>
    </div>
    
  </div>
</div>

<app-footer></app-footer>