<div class="container-fluid register">

  <div class="title">{{ 'TENANT_REGISTER.NOTIFY_LANDLORD' | translate }}</div>
  <div class="register-description">
 
  {{ 'TENANT_REGISTER.DESCRIPTION_LINE1' | translate }}
  </div>

  <form *ngIf="!successfullySent" class="form-holder" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="row single-row">
      <div class="form-label tenant">{{ 'TENANT_REGISTER.LANDLORD_EMAIL' | translate }}
        <span *ngIf="!registerForm.get('email').valid && submit_once" class="error-message">{{ 'TENANT_REGISTER.REQUIRED' | translate }}</span>
      </div>
      <input class="form-input tenant" formControlName='email' type="text">
    </div>

    <div class="row">
      <div class="col-sm-6 bot-col">
        <div class="form-label tenant">{{ 'TENANT_REGISTER.YNAME' | translate }}
          <span *ngIf="!registerForm.get('tenant_name').valid && submit_once" class="error-message">{{ 'TENANT_REGISTER.REQUIRED' | translate }}</span>
        </div>
        <input class="form-input tenant" formControlName='tenant_name' type="text" [(ngModel)]="tenantName">
      </div>

      <div class="col-sm-6 bot-col">
        <div class="form-label tenant">{{ 'TENANT_REGISTER.LNAME' | translate }}
          <span *ngIf="!registerForm.get('landlord_name').valid && submit_once" class="error-message">{{ 'TENANT_REGISTER.REQUIRED' | translate }}</span>
        </div>
        <input class="form-input tenant" formControlName='landlord_name' type="text" [(ngModel)]="landlordName">
      </div>
    </div>

    <div class="row single-row">
      <div class="form-label tenant">{{ 'TENANT_REGISTER.LLANGUAGE' | translate }}
        <span *ngIf="!registerForm.get('landlord_language').valid && submit_once" class="error-message">{{ 'TENANT_REGISTER.REQUIRED' | translate }}</span>
      </div>
      <select formControlName='landlord_language'>
        <option value="en">{{ 'TENANT_REGISTER.ENGLISH' | translate }}</option>
        <option value="fr">{{ 'TENANT_REGISTER.FRENCH' | translate }}</option>
      </select>
    </div>

    <div class="row single-row text-area">
      <div id="pre-written-header" class="form-label header tenant">{{ 'TENANT_REGISTER.PRE_EMAIL' | translate }}</div>
      <div class="pre-written-message" [innerHTML]="emailMessage">
      </div>

      <div class="submit-wrapper">
        <div [class.loader]="loading"></div>
        <button type="submit" class="submit-btn tenant" [disabled]="loading">{{ 'TENANT_REGISTER.SEND' | translate }}</button>
      </div>
    </div>
  </form>

  <div *ngIf="successfullySent">
    <img class="email-status-icon" src="./assets/icons/circle-checkmark.svg">
    <div class="email-status-text tenant">{{ 'TENANT_REGISTER.SENT' | translate }} </div>
    <div class="email-subtext tenant">{{ 'TENANT_REGISTER.SENT_TO' | translate }}</div>
  </div>

</div>