@import "../../styles";
@import "../../forms";

.register{
    background: linear-gradient(to right top, #d091f2, #ba8aee, #a384e9, #8b7ee4, #7078de);;
    text-align: center;
    padding: 6%;
    .title{
        color: white;
    }
    .register-description{
        margin: 3% 10% 6%;
        font-size: 1.8rem;
        color: white;
    }
}

.pre-written-message{
    color: rgba(255,255,255,0.8);
    font-size: 1.7rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(255,255,255,0.7)
}

#pre-written-header{
    color: rgba(255,255,255,1);
    margin-bottom: 4rem;
}

select{
    background: transparent;
    padding: 2rem;
    margin: 1.5rem 0 3rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    color: white;
    font-size: 1.7rem;
}