@import "../styles";

.under-construction{
    width: 100%;
    height: 100%;
    position: fixed;
    background: $primary;
    .text{
        margin-top: 30%;
        text-align: center;
        font-size: 4rem;
        color: white;
    }
}