<div class="nav-bar">
  <div class="logo" (click)="goHome()">
    <!--<img src="./assets/brand/logo-name-purple-spaced.png" alt="Logo Purple">-->
    <img *ngIf = "!isBlack" src="./assets/brand/logo-name-white.png" alt="Logo White">
    <img *ngIf = "isBlack" src="./assets/brand/logo-name-black.png" alt="Logo Black" style = "opacity: 0.7">
  </div>
  <div *ngIf="innerWidth <= 768" (click)="toggleMobileMenu()">
    <!--<img *ngIf="!showMobileMenu" class="menu-icon" src="./assets/icons/menu.svg" alt="menu icon">-->
    <i *ngIf="!showMobileMenu" class="material-icons menu-icon" [class.blackend] = "isBlack">menu</i>
    <i *ngIf="showMobileMenu" class="material-icons menu-icon" [class.blackend] = "isBlack">close</i>
    <!--<img *ngIf="showMobileMenu" class="menu-icon" src="./assets/icons/close.svg" alt="menu icon">-->
  </div>
  <div *ngIf="innerWidth > 768" class="nav-options-holder">
    <!--
    <div class="nav-option action">
      <a routerLink="/get-started" routerLinkActive="active">{{ 'NAV_BAR.GET_STARTED' | translate }}</a>
    </div>
  -->
    
    <div class="nav-option">
      <a routerLink="/" routerLinkActive="active" (click)="scrollToId('overview')" [class.blackend] = "isBlack">{{ 'NAV_BAR.OVERVIEW' | translate }}</a>
    </div>
    <!---
    <div class="nav-option">
      <a routerLink="/" routerLinkActive="active" (click)="scrollToId('features')" [class.blackend] = "isBlack">{{ 'NAV_BAR.FEATURES' | translate }}</a>
    </div>
    -->
    <div class="nav-option" >
      <!---<a routerLink="/pricing" routerLinkActive="active" [class.active-route] = "router.url === '/pricing'" [class.blackend] = "isBlack">{{ 'NAV_BAR.PRICING' | translate }}</a>-->
      <!-- <a routerLink="/residence" routerLinkActive="active" [class.active-route] = "router.url === '/residence'" [class.blackend] = "isBlack">{{ 'RESIDENCE.RESIDENCE' | translate }}</a> -->
    </div>
    <div class="nav-option">
      <a routerLink="/contact" routerLinkActive="active" [class.blackend] = "isBlack">{{ 'NAV_BAR.CONTACT' | translate }}</a>
    </div>
    <div class="nav-option language-holder">
      <a (click)="changeLang('en')" class="language" [class.blackend] = "isBlack" [class.active-language]="translate.currentLang.substr(0,2) == 'en'">en</a>
      |
      <a (click)="changeLang('fr')" class="language" [class.blackend] = "isBlack" [class.active-language]="translate.currentLang.substr(0,2) == 'fr'">fr</a>
    </div>
  </div>
</div>
<div *ngIf="showMobileMenu" [@enterAnimation] class="mobile-menu">
  <div class="mobile-nav-option" (click)="turnOffMenu()" routerLink="/get-started" routerLinkActive="active">
    <a>{{ 'NAV_BAR.GET_STARTED' | translate }}</a>
  </div>
  <div class="mobile-nav-option" (click)="scrollToId('overview')" routerLink="/" routerLinkActive="active">
    <a>{{ 'NAV_BAR.OVERVIEW' | translate }}</a>
  </div>
  <!--fragment="overview"-->
  <!---
  <div class="mobile-nav-option" routerLink="/" routerLinkActive="active" (click)="scrollToId('features')">
    <a>{{ 'NAV_BAR.FEATURES' | translate }}</a>
  </div>
-->
  <div class="mobile-nav-option" routerLink="/residence" routerLinkActive="active" >
    <a>{{ 'RESIDENCE.RESIDENCE' | translate }}</a>
  </div>
  <!--fragment="features"-->
  <div class="mobile-nav-option" (click)="turnOffMenu()" routerLink="/contact" routerLinkActive="active">
    <a>{{ 'NAV_BAR.CONTACT' | translate }}
    </a>
  </div>
  <div class="mobile-nav-option" (click)="changeLangToggle()">
    <a>{{ 'NAV_BAR.LANGUAGE' | translate }}
    </a>
  </div>

</div>