@import "../../styles";

.nav-bar{
    height: 5.5em;
    //background: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    padding: 0 3%;
    z-index: 10;
    position: absolute;
    width: 100%;
    margin-top: 1rem;
    .logo{
        margin-left: 5vw;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-left: 0;
        }
        img{
            height: 5.5rem;
            opacity: 0.9;
        }
    }
    .menu-icon{
        font-size: 3.5rem;
        position: absolute;
        right: 4%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.6;
        color: white;
    }
    .nav-options-holder{
        position: absolute;
        right: 5vw;
        display: inline-flex;
        .nav-option{
            margin: auto 1.4rem;
            
            &.action{
                border: 1px solid white;
                padding: 1.2rem;
                margin: auto 1.6rem;
                border-radius: 5px;
            }
            &.language-holder{
                display: inherit;
                .language{
                    margin: 0 1rem;
                    cursor: pointer;
                    &.active-language{
                        font-weight: bold;
                    }
                }
            }
            a{
                font-size: 2rem;
                color: rgba(255,255,255,0.7);
                text-decoration: none;
            }
            a:visited{
                //color: white;
            }
            a:hover{
                color: white;
                font-weight: bold;
                &.blackend{
                    color: rgba(0, 0, 0, 0.7) !important;
                }
            }
        }
    }
}

.active-route{
    color: white !important;
    font-weight: bold;
    &.blackend{
        color: $primary !important;
    }
}

.blackend{
    color: rgba(0, 0, 0, 0.5) !important;
}

.mobile-menu{
    position: absolute;
    top: 7.7rem;
    z-index: 10;
    text-align: center;
    width: 100%;
    background: rgba(255,255,255,0.8);
    .mobile-nav-option{
        padding: 1.5rem;
        font-size: 2rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        color: black;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
        width: 100%;
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}