<div class="container-fluid nav-area sp">
  <div class="sp-bg bg1"></div>
  <div class="purple-filter sp"></div>
  <app-nav-bar></app-nav-bar>
  <h1 class="main-text sp">
    {{ 'GET_STARTED.TITLE' | translate }}
  </h1>
</div>


<div class="container-fluid sp-content">
  <div class="content-block">
    <div class="content">
      {{ 'GET_STARTED.DESCRIPTION' | translate }}
    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'GET_STARTED.STEP_0' | translate }}
    </h3>
    <div class="content">
      {{ 'GET_STARTED.STEP_0_DESCRIPTION' | translate }}
    </div>
    <div class="image-holder">
      <div class="download-holder">
        <div class="download" (click) = "openStore('ios')">
          iPhone
          <img src="./assets/icons/apple.svg" alt="Apple Icon">
        </div>
        <div class="download" (click) = "openStore('android')">
          Android
          <img src="./assets/icons/android-green.svg" alt="Android Icon">
        </div>
      </div>

    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'GET_STARTED.STEP_1' | translate }}
    </h3>
    <div class="content">
      {{ 'GET_STARTED.STEP_1_DESCRIPTION' | translate }}
    </div>
    <div class="image-holder">
      <img src="./assets/get-started/first-page.jpg" alt="First Page">
      <img src="./assets/get-started/new-account.jpg" alt="New Account">
    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'GET_STARTED.STEP_2' | translate }}
    </h3>
    <div class="content">
      {{ 'GET_STARTED.STEP_2_DESCRIPTION' | translate }}
    </div>
    <div class="image-holder">
      <img src="./assets/get-started/first-building.jpg" alt="Building Tab">
      <img src="./assets/get-started/create-building.png" alt="Create Building">
    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'GET_STARTED.STEP_3' | translate }}
    </h3>
    <div class="content">
      {{ 'GET_STARTED.STEP_3_DESCRIPTION' | translate }}
    </div>
    <div class="image-holder list">
      <img class="list-img" src="./assets/get-started/connect-code.jpg" alt="Connect Code Page">
      <div class="contact-list">
        <div class="list-option">
          <b>{{ 'GET_STARTED.PHONE' | translate }}</b> {{ 'GET_STARTED.PHONE_SHARE' | translate }}</div>
        <div class="list-option">
          <b>{{ 'GET_STARTED.EMAIL' | translate }}</b> {{ 'GET_STARTED.EMAIL_SHARE' | translate }}</div>
        <div class="list-option">
          <b>{{ 'GET_STARTED.CONTACT' | translate }}</b> {{ 'GET_STARTED.SEND_EMAIL' | translate }}
          <i>alessandro@LivingSqr.com</i>{{ 'GET_STARTED.SEND_EMAIL_DESCRIPTION' | translate }}
        </div>
        <div class="list-option">
          <b>{{ 'GET_STARTED.DOWNLOAD_POSTER' | translate }}</b>{{ 'GET_STARTED.DOWNLOAD_POSTER_DESCRIPTION' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'GET_STARTED.STEP_4' | translate }}
    </h3>
    <div class="content">
      {{ 'GET_STARTED.STEP_4_DESCRIPTION' | translate }}

    </div>
    <div class="image-holder">
      <img src="./assets/get-started/tenant-request.png" alt="Tenant Request">
      <img src="./assets/get-started/tenant-application.png" alt="Tenant Application">
    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'GET_STARTED.STEP_5' | translate }}
    </h3>
    <div class="content">
      {{ 'GET_STARTED.STEP_5_DESCRIPTION' | translate }}

      <a routerLink="/contact" routerLinkActive="active">{{ 'CONTACT.US' | translate }}</a> {{ 'GET_STARTED.SLOGAN' | translate }}
    </div>
    <div class="image-holder">
      <img src="./assets/get-started/new-building.png" alt="Building Tab">
      <img src="./assets/get-started/tenant-added.png" alt="New Tenant">
    </div>
  </div>

</div>
<app-footer></app-footer>