@import "../../single-page";

.image-holder{
    //display: contents;
    width: 100%;
    text-align: center;
    position: relative;
    &.list{
        display: flex;
        align-items: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: inherit;
        }
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        display: grid;
        justify-items: center;
    }
    img{
        width: 30%;
        margin: 3rem;
        height: 100%;
        border-radius: 5px;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: 75%;
            height: initial;
            margin: 1.5rem;
        }
        &.list-img{
            //margin-left: calc(-15% - 18rem);
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                margin-left: initial;
            }
        }
    }
    .contact-list{
        text-align: left;
        width: 50%;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            position: initial;
            right: initial;
            width: initial;
            transform: initial;
        }
        .list-option{
            margin: 2rem;
            font-size: 1.7rem;
        }
    }
}

.download-holder{
    display: flex;
    justify-content: center;
    opacity: 0.6;//disabled state until July 2018
    .download{
        color: white;
        display: flex;
        margin: 2rem;
        padding: 1.2rem 1.7rem;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 4px;
        font-size: 2rem;
        text-shadow: none;
        position: relative;
        box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin: 2rem 0.5rem;
            transform: scale(0.9,0.9);
        }
        img{
           margin: 0;
           margin-left: 1rem;
        }
        .subtext{
            font-size: 1.4rem;
            opacity: 0.8;
            position: absolute;
            bottom: -2.5rem;
            left: 0;
            text-align: center;
            width: 100%;
            color: rgba(0,0,0,0.7);
        }
    }
    
}