.form-holder{
    padding: 2% 20%;
    text-align: left;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding: 2% 5%;
    }
    .single-row{
        padding-left: 15px;
        &.text-area{
            textarea{
                width: calc(100% - 15px);
                height: 8rem;
            }
        }
        .form-input{
            width: calc(100% - 15px);
        }
    }

    .form-input{
        margin-bottom: 2.5rem;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        width: 100%;
        &.tenant{
            color: white;
            border-bottom: 1px solid rgba(255,255,255,0.9);
        }
    }

    .form-label{
        color: white;
        font-size: 1.7rem;
        &.dark{
            color: rgba(255,255,255,0.7);
        }
        &.tenant{
            color: rgba(255,255,255,0.7);
        }
        &.text-area{
            margin-bottom: 0.5rem;
        }
        &.header{
            font-size: 2.4rem;
            margin-bottom: 2rem;
            font-weight: bold;
        }
        &.dark{
            color: rgba(0,0,0,0.7);
        }
    }

    .textarea-white{
        border: 1px solid rgba(0,0,0,0.7);
    }

    .error-message{
        color: #B3001B;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: 0.7rem;
    }

    .submit-wrapper{
        width: 100%;
        text-align: center;
        .submit-btn{
            color: rgba(0,0,0,0.8);
            background: transparent;
            border: none;
            font-size: 1.8rem;
            margin-top: 2rem;
            &.tenant{
                color: rgba(255,255,255,1);
            }
        }
    }
}

.email-status-icon{
    width: 11vw;
    min-width: 100px;
}
.email-status-text{
    font-size: 2.6rem;
    margin-top: 3%;
    color: rgba(0,0,0,0.8);
    &.tenant{
        color: white;
    }
}
.email-subtext{
    font-size: 1.8rem;
    opacity: 0.7;
    margin-top: 0.2rem;
    &.tenant{
        color: rgba(255,255,255,0.7);
    }
}

.loader {
    position: absolute;
    left: calc(50% - 50px);
    margin-top: -12rem;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}