@import "../../styles";

.nav-area{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    &.sp{
        height: calc(40vh + 5rem);
    }

    .home-img{
        background: url("../../assets/img/home.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    .sp-bg{
        width: 100%;
        height: calc(40vh + 5rem);
        position: absolute;
        box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
        &.bg1{
            background: url("../../assets/img/building3.png");
            background-size: cover;
            filter: blur(1px);
        }
        &.bg-contact{
            background: url("../../assets/img/contact.png");
            background-size: cover;
        }
        &.bg-about{
            background: url("../../assets/img/about.png");
            background-size: cover;
        }
        &.bg-residence{
            background: url("../../assets/img/residence.jpg");
            background-size: cover;
            background-position: center;
        }
        &.bg-sponsor{
            background: url("../../assets/img/sponsor.png");
            background-size: cover;
        }
        &.bg-privacy{
            background: url("../../assets/img/privacy-policy-building.jpg");
            background-size: cover;
            background-position: bottom;
        }
        &.bg-terms{
            background: url("../../assets/img/terms-building.jpg");
            background-size: cover;
            background-position: center;
        }
        &.bg-demo{
            background: url("../../assets/img/demo.jpg");
            background-size: cover;
            background-position: center;
        }
    }

    .purple-filter{
        width: 100%;
        height: 100vh;
        position: absolute;
        background: $primary;
        opacity: 0.8;
        z-index: 1;
        &.sp{
            height: calc(40vh + 5rem);
        }
        &.home{
            background: linear-gradient($primary, $primary-gradient);
        }
    }
    .main-text{
        z-index: 2;
        flex-grow: 1;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: white;
        font-size: 5rem;
        font-weight: bold;
        margin-top: -5rem;
        text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
        &.sp{
            margin-top: 8rem;
            font-size: 4.5vw;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                margin-top: 4rem;
                font-size: 4.5rem;
            }
        }
        .slogan{
            width: 60%;
            margin-top: -5rem;
            min-width: 350px;
            max-width: 800px;
        }
        .down-arrow{
            position: absolute;
            transform: rotate(90deg);
            bottom: 3%;
            opacity: 1;
            animation: mymove 2s infinite;
            height: 3.5vh;
        }
        @-webkit-keyframes mymove {
            from {bottom: 3%; opacity: 1;}
            to {bottom: 0%; opacity: 0;}
        }
        
        @keyframes mymove {
            from {bottom: 3%; opacity: 1;}
            to {bottom: 0%; opacity: 0;}
        }
    }
}

.sp-content{
    width: 70%;
    margin: 7rem auto calc(7rem + 4rem);
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        width: 85%;
        margin: 1rem auto 7rem;
    }
    .content-block{
        margin-top: 4rem;
        .title{
            font-size: 3.5rem;
            font-weight: bold;
        }
        .content{
            color: rgba(0,0,0,0.7);
            font-size: 1.7rem;
            line-height: 2.8rem;
            &.only{
                color: rgba(0, 0, 0, 0.8);
                font-size: 2rem;
                line-height: 3rem;
                margin-bottom: 3rem;
            }
        }
    }
}