@import './styles.scss';

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 80px;
        -webkit-appearance: none;
        background-color: white;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 16px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
      height: 15px;
      border-radius: 50%;
      margin-top: 1px;
      z-index: 1234;
      background: $primary-shade;
      cursor: grab;
      box-shadow: -1008px 0 0 1000px $primary;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: $primary; 
}
input[type="range"]::-moz-range-track {  
  background-color: white;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: $primary; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: white;
}