@import "../../styles";

.nav-top{
    background: $primary;
    height: 5em;
    display: flex;
    align-items: center;
    padding: 0 3%;
    z-index: 2;
    img{
        height: 5rem;
    }
}

.status-holder{
    text-align: center;
    margin: 20% auto;
    .status-icon{
        width: 10rem;
        margin-bottom: 2rem;
    }
    .status-text{
        font-size: 3rem;
        color: rgba(0,0,0,0.7);
        .big{
            font-size: 8rem;
            opacity: 0.8;
        }
    }
    .subtext{
        font-size: 1.7rem;
        color: rgba(0,0,0,0.4);
    }
}

.status-bar{
   
    &.red{
        color: #B3001B;
    }
}

.password-form-holder{
    margin: 10% 15%;
    .form-title{
        font-size: 3.9rem;
        margin-bottom: 5rem;
        font-weight: bold;
    }
    .input-holder{
        margin: 3rem;
        .labels{
            font-size: 2.5rem;
            color: rgba(0,0,0,0.7);
        }
        input{
            border: none;
            border-bottom: 2px solid rgba(0,0,0,0.4);
            width: 75%;
            margin-top: 2rem;
        }
    }
    
    .submit-btn{
        background: transparent;
        color: rgba(0,0,0,0.8);
        position: absolute;
        right: 34%;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }
}