/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// /@import './livingsqr-theme';

*{
  font-family: 'Raleway', sans-serif;
}
i{
  font-family: 'Material Icons';
}


//COLORS -- keep at it
$primary: #7078DE;//	112, 120, 222
  $primary-shade:#3a4cac; //rgb(48, 60, 207)
  $primary-tint:#a4a7ff;
$primary-gradient: #d091f2;
$main-gradient: linear-gradient(to right top, #d091f2, #ba8aee, #a384e9, #8b7ee4, #7078de);
$secondary: #FFCB47; //(255,203,71)
  $secondary-tint: #ffd97a;
  $secondary-shade-yellow: #cca238;
  $secondary-text: rgba(0,0,0,0.7);
$secondary-gradient: #ECA95C;
$secondary-shade: #05668D;//figure out this color!
$secondary-tint: #F9DC5C ;//FFF275 
$tertiary: #4D5061; //(77,80,97)
$interac-yellow-dark: #E1B53A;
$interac-yellow: #FDB913;


$alert-green: #32db64;//50, 219, 100
$alert-yellow: #FDE74C;//253, 231, 76
$alert-red: #f44336;//244	67	54

html, body{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

.title{
  font-size: 5rem;
  margin-bottom: 2rem;
}

a{
  text-decoration: underline;
  &.white{
    color: white;
  }
  &.dark{
    color: rgba(0,0,0,0.6);
  }
}

.feature-action{
  background: transparent;
  padding: 1.2rem 3rem;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 2px;
  margin-top: 2rem;
  &.disabled{
      opacity: 0.5;
  }
}

.rect{
  width: 23vw;
  height: 23vw;
  border-radius: 20px;
  background: linear-gradient($primary, $primary-gradient);
  &.rect1{
      transform: rotate(240deg);
      position: absolute;
      bottom: 2%;
      left: -13%;
  }
  &.rect2{
      transform: rotate(60deg);
      position: absolute;
      right: -13%;
  }
}

.call-to-action{
  margin: 1rem;
  font-size: 3rem;
  text-shadow: none;
  background: #484faa;
  padding: 1rem 2rem;
  color: white;
  border-radius: 4px;
  box-shadow: -2px 1px 3px 1px rgba(0,0,0,0.3);
  border: 2px solid rgba(48, 60, 207, 0.6);
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      font-size: 5.5vw;
      margin: 0.5rem;  
  }
  &.secondary{
      opacity: 0.7;
      border: none;
      background: none;
      color: white;
      display: flex;
      align-items: center;
      box-shadow: none;
      img{
          margin-right: 0.5rem;
      }
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
          padding-left: 0;
      }
  }
  &.secondary:hover{
      opacity: 1;
  }
}
