@import "../../styles";
@import "../../single-page";

.temp-home{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: $main-gradient;
    z-index: 50;
    opacity: 1;
}

.text-holder{
    z-index: 2;
    color: white;
    position: relative;
    height: 100vh;
    .home-text{
        font-size: 7rem;
        font-weight: bold;
        margin-left: 10%;
        margin-top: 28vh;
        text-align: left;
        width: 75%;
        max-width: 46rem;
        text-shadow: -6px 2px 0px rgba(48, 60, 207, 0.3);
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-top: 26vh;
            font-size: 13vw;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            text-shadow: -4px 2px 0px rgba(48, 60, 207, 0.3);
        }
    }
    
    .cta-holder{
        display: flex;
        margin-left: 10%;
        margin-top: 2rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            flex-wrap: wrap;
            margin-left: 5%;
            justify-content: space-around;
            margin-top: 5vh;
        }
    }
    
    .down-arrow{
        position: absolute;
        transform: rotate(90deg);
        bottom: 3%;
        opacity: 1;
        animation: mymove 2s infinite;
        height: 3.5vh;
        left: 50%;
        width: 30px;
        margin-left: -15px;
    }
}


.download-holder{
    display: flex;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        margin-top: 7vh;
    }  
    .download{
        cursor: pointer;
        color: white;
        display: flex;
        margin: 2rem;
        padding: 1.2rem 1.7rem;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        font-size: 2rem;
        box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
        text-shadow: none;
        position: relative;
        &.disabled{
            opacity: 0.7;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            transform: scale(0.9,0.9);
            margin: 3vw;
        }
        img{
            margin-left: 1rem;
        }
        .subtext{
            font-size: 1.4rem;
            opacity: 0.8;
            position: absolute;
            bottom: -2.5rem;
            left: 0;
            text-align: center;
            width: 100%;
        }
    }
    
}

.how-it-works{
    text-align: center;
    padding: 4rem;
    .title{
        margin: 0;
    }
}


.video{
    padding: 10%;
    padding-top: 0;
    position: relative;
    z-index: 3;
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        box-shadow: 0px 6px 16px -4px rgba(0, 0, 0, 0.4);
        padding: 0;
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        border-radius: 10px;
        height: 0;
        box-shadow: 0px 1px 9px 4px rgba(0,0,0,0.3);
        overflow: hidden;
    }
    
    .video-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        //margin-left: 10%;
        height: 100%;
        //max-height: 80vh;
    }
}


.features{
    text-align: center;
    padding: 6%;
    padding-top: 2%;
    .button-wrapper{
        text-align: center;
        display: inline-flex;
        width: 45%;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: 70%;
        }
        .user-btn{
            background: rgba(0,0,0,0.5);
            border: 1px solid white;
            color: white;
            width: 100%;
            padding: 2%;
            font-size: 1.6vw;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 1.6rem;
            }
            &.tenant{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }   
            &.landlord{
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            &.active{
                background: white;
                color: rgba(0,0,0,0.6);
                font-size: 1.9vw;
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    font-size: 1.9rem;
                }
            }
        }
        .user-btn:focus{
            outline: none;
        }
    }
    &.isTenant{
        //background: $primary;
        background-image: linear-gradient(to right top, #d091f2, #ba8aee, #a384e9, #8b7ee4, #7078de);
        .title{
            color: white;
        }
    }
    &.isLandlord{
        //background: $secondary;//here
        background-image: linear-gradient(to right top, #ca8e6b, #dd9a65, #eca95c, #f8b952, #ffcb47);
        .title{
            //color: white;
            color:rgba(0,0,0,0.7);
        }
    }
}

.row-features{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding: 2rem 0;
    }
}

.features-description{
    padding: 2% 4%;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    font-size: 1.7rem;
    .feature-block{
        text-align: center;
        padding: 3% 4%;
        
        .icon{
            width: 35%;
            padding: 4rem;
            max-width: 32rem;
            min-width: 20vw;
        }
        .feature-title{
            font-size: 3.4rem;
            margin-bottom: 1.5rem;
            font-weight: bold;
            margin-top: 0;
        }
        .feature-description{
            font-size: 2.1rem;
            color: rgba(0,0,0,0.6);
            text-align: justify;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            .icon{
                width: 16rem;
                padding: 0;
                margin-top:2rem;
                margin-bottom: 2rem;
            }
            .feature-title{
                margin-bottom: 1rem;
            }
        }
    }
}

.landlord-cta{
    //background-image: linear-gradient(to right top, #ca8e6b, #dd9a65, #eca95c, #f8b952, #ffcb47);
    background: $primary;
    border-top: 4px solid white;
    padding: 5% 7%;
    align-items: center;
    display: flex;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        display: block;
    }
    .column-adjustment{
        text-align: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }
    .text{
        margin: 0;
        color: white;
        line-height: 5rem;
        font-weight: bold;
        font-size: 3.5rem;
        opacity: 0.95;
        text-transform: capitalize;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 7.5vw;
        }
    }
    .btn{
        background: rgba(0,0,0,0.6);
        color: white;
        font-size: 2.7rem;
        border-radius: 10px;
        padding: 2rem;
        box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.3);
    }
}

.not-in-production {
    text-align: center;
    font-size: 1.8rem;
    background: rgba(0,0,0,0.3);
    font-weight: bold;
    padding: 10px;
}




