<div class="container-fluid nav-area">
  <div class="temp-home" [@initialAnimation]="hideHome ? 'open' : 'closed'"></div>
  <div class="home-img"></div>
  <div class="purple-filter home"></div>
  <app-nav-bar (scrollChange)="scrollToId($event)"></app-nav-bar>
  <div class="text-holder">
    <!--The digital era of living-->
    <!--
    <img *ngIf = "translate.currentLang.substr(0,2) == 'en'" class="slogan" src="./assets/img/slogan-text_en.png" alt="LivingSqr Motto English">
    <img *ngIf = "this.translate.currentLang.substr(0,2) == 'fr'" class="slogan" src="./assets/img/slogan-text_fr.png" alt="LivingSqr Motto French">
    -->
    <h1 class="home-text">
      {{ 'HOME.SLOGAN' | translate }}
    </h1>
    <div class="cta-holder">
      <!--<button class = "call-to-action" routerLink="/sales">{{ 'HOME.START_TRIAL' | translate }}</button>-->
      <!-- <button class="call-to-action" routerLink="/try-demo">{{ 'HOME.START_TRIAL' | translate }}</button> -->
      <button class="call-to-action" (click)="scrollToId('video')">
        <!-- <img src="./assets/icons/play-btn.svg" alt="Play Icon"> -->
        {{ 'HOME.WATCH_VIDEO' | translate }}
      </button>
      <button class="call-to-action secondary" routerLink="/about">
        <!-- <img src="./assets/icons/play-btn.svg" alt="Play Icon"> -->
        {{ 'ABOUT.US' | translate }}
      </button>
    </div>
    <div *ngIf="innerWidth > 768" class="download-holder">

      <div class="download" (click)="openStore('ios')">
        iPhone
        <img src="./assets/icons/apple.svg" alt="Apple Icon">
      </div>

      <div class="download" (click)="openStore('android')">
        Android
        <img src="./assets/icons/android.svg" alt="Android Icon">
      </div>

      <!-- <div class="download disabled">
        {{ 'HOME.DESKTOP' | translate }}
        <img src="./assets/icons/desktop.svg" alt="Desktop Icon">
        <div class="subtext">{{ 'HOME.COMING_SOON' | translate }}</div>
      </div> -->
    </div>
    <div class="not-in-production">
      {{ 'HOME.NOT_IN_PRODUCTION' | translate }}
    </div>
    <img class="down-arrow" src="./assets/icons/arrow.svg" alt="Down Arrow">
  </div>
</div>

<div class="container-fluid how-it-works" id="video">
  <div class="title">{{ 'HOME.HOW_IT_WORKS' | translate }} </div>
</div>
<div class="container-fluid video">
  <div class="rect rect1"></div>
  <div class="rect rect2"></div>
  <div class="video-container">
    <!--<iframe width="100%" height="100%" [src]='safeURL' frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>  -->
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/0aMkcPZSRcs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0aMkcPZSRcs?rel=0&amp;showinfo=0"
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<!--feature overview-->
<app-feature-overview id="overview"></app-feature-overview>

<!-- Features -->
<!----
<div id="features" class="container-fluid features" [class.isTenant]="isTenant()" [class.isLandlord]="!isTenant()">
  <div class="title"> {{ 'HOME.FOR' | translate }} {{featuresTitle}}s</div>
  <div class="button-wrapper">
    <button class="user-btn landlord" [class.active]="session.getCurrentInfo() == 'landlord'" (click)="userIsLandlord()"> {{ 'HOME.LANDLORD' | translate }}</button>
    <button class="user-btn tenant" [class.active]="session.getCurrentInfo() == 'tenant'" (click)="userIsTenant()">{{ 'HOME.TENANT' | translate }}</button>
  </div>
</div>

<div *ngIf="!isTenant()" class="container-fluid features-description">
  <div class="row row-features">
    <div class="col-md-4 feature-block">
      <img class="icon" src="./assets/icons/manage.svg" alt="Manage Icon">
      <h3 class="feature-title">{{ 'HOME.DISTRIBUTE_INFORMATION' | translate }}</h3>
      <div class="feature-description">{{ 'HOME.DISTRIBUTE_INFORMATION_DESCRIPTION' | translate }}</div>
    </div>
    <div class="col-md-4 feature-block">
      <img class="icon" src="./assets/icons/laptop.svg" alt="Clock Icon">
      <h3 class="feature-title">{{ 'HOME.MANAGE_REMOTELY' | translate }}</h3>
      <div class="feature-description">{{ 'HOME.MANAGE_REMOTELY_DESCRIPTION' | translate }}</div>
    </div>
    <div class="col-md-4 feature-block">
      <img class="icon" src="./assets/icons/message.svg" alt="Demo Icon">
      <h3 class="feature-title">{{ 'HOME.CONTACT_TENANTS' | translate }}</h3>
      <div class="feature-description">{{ 'HOME.CONTACT_TENANTS_DESCRIPTION' | translate }}</div>
    </div>
  </div>
</div>

<div *ngIf="isTenant()" class="container-fluid features-description">
  <div class="row row-features">
    <div class="col-md-4 feature-block">
      <img class="icon" src="./assets/icons/timeline.svg" alt="Timeline Icon">
      <h3 class="feature-title">{{ 'HOME.BE_INFORMED' | translate }}</h3>
      <div class="feature-description">{{ 'HOME.BE_INFORMED_DESCRIPTION' | translate }}</div>
    </div>
    <div class="col-md-4 feature-block">
      <img class="icon" src="./assets/icons/request.svg" alt="Request Icon">
      <h3 class="feature-title">{{ 'HOME.REQUESTS' | translate }}</h3>
      <div class="feature-description">{{ 'HOME.REQUESTS_DESCRIPTION' | translate }}</div>
    </div>
    <div class="col-md-4 feature-block">
      <img class="icon" src="./assets/icons/message.svg" alt="Money Icon">
      <h3 class="feature-title">{{ 'HOME.DIRECT_CONTACT' | translate }}</h3>
      <div class="feature-description">{{ 'HOME.DIRECT_CONTACT_DESCRIPTION' | translate }}</div>
    </div>
  </div>
</div>
-->
<!-- Landlord Register -->
<!--<app-landlord-register *ngIf="!isTenant()" id = "register"></app-landlord-register>-->
<!---
<div class = "landlord-cta" *ngIf="!isTenant()">
  <h2 class = "text">See how LivingSqr improves your managing experience</h2>
  <button class = "btn" routerLink="/sales">Try for Free</button>
</div>
-->

<!-- <div class="row landlord-cta">
  <div class="col-md-6 ">
    <h2 class="text">{{ 'HOME.SEE_HOW' | translate }}</h2>
  </div>
  <div class="col-md-6 column-adjustment">
    <button class="call-to-action" routerLink="/sales">{{'HOME.CONTACT_SALES' | translate}}</button>
  </div>
</div> -->
<!----<app-tenant-register *ngIf="isTenant()" id="notify"></app-tenant-register>-->

<app-footer></app-footer>