@import "../../single-page";
@import "../../styles";

.point-row{
    //height: 50vh;//bad and fucks stuff up
    
    .col-md-6{
        margin-top: 4rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .screenshot{
            height: 35vh;
            border-radius: 2px;
            box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: 90%;
                height: initial;
            }
        }

        &.height-adjustment{
            height: 47vh;
        }
        
        .point-holder{
            .point{
                font-size: 3rem;
                font-weight: bold;
                margin: 3rem 0 3rem 3rem;
                color: $tertiary;
            }
        }
    }
    .control-holder{
        display: flex;
        position: absolute;
        bottom: 2rem;   
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            bottom: initial;
            top: -3rem;
        } 
        .control{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            margin: 1rem 0.5rem;
            border: 1.5px solid rgba(0, 0, 0, 0.3);
            &.active{
                background: rgba(0,0,0,0.5)
            }
        }       
    }
}

