<div class="container-fluid nav-area sp">
  <div class="sp-bg bg-sponsor"></div>
  <div class="purple-filter sp"></div>
  <app-nav-bar></app-nav-bar>
  <h1 class="main-text sp">
    {{ 'SPONSORS.TITLE' | translate }}
  </h1>
</div>

<div class="container-fluid sp-content">
  <div class="content-block">
    <h3 class="title">
      {{ 'SPONSORS.TRADE_COMPANIES' | translate }}
    </h3>
    <div class="content">
      {{ 'SPONSORS.TRADE_COMPANIES_DESCRIPTION_LINE1' | translate }}
      <br>
      <br>  {{ 'SPONSORS.TRADE_COMPANIES_LIST' | translate }}
      <br>
      <br>  {{ 'SPONSORS.TRADE_COMPANIES_DESCRIPTION_LINE3' | translate }}
    </div>
  </div>

  <div class="row point-row">
    <div class="col-md-6 col-md-push-6 height-adjustment">
      <img *ngIf="imgSelect == 0" [@enterAnimation] class="screenshot" src="./assets/screenshots/trade-list.png">
      <img *ngIf="imgSelect == 1" [@enterAnimation] class="screenshot" src="./assets/screenshots/trade-detail.png">
      <div class="control-holder">
        <div class="control" [class.active]="imgSelect == 0" (click)="activateControl(0)"></div>
        <div class="control" [class.active]="imgSelect == 1" (click)="activateControl(1)"></div>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6 height-adjustment">
      <div class="point-holder">
        <div class="point"> {{ 'SPONSORS.LOCALIZED' | translate }}</div>
        <div class="point"> {{ 'SPONSORS.ALWAYS_ON_TOP' | translate }}</div>
        <div class="point"> {{ 'SPONSORS.DIRECT_CONTACT_NUMBER' | translate }}</div>
        <div class="point"> {{ 'SPONSORS.DETAILED_PAGE' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="content-block">
    <h3 class="title">
      {{ 'SPONSORS.REGISTER' | translate }}
    </h3>
    <div class="content">
      {{ 'SPONSORS.REGISTER_DESCRIPTION_LINE1' | translate }}
      <br>
      <br>  {{ 'SPONSORS.REGISTER_LIST' | translate }}
      <br>
      <br>  {{ 'SPONSORS.REGISTER_DESCRIPTION_LINE3' | translate }}
      <a routerLink="/contact" routerLinkActive="active"> {{ 'SPONSORS.CONTACT_US' | translate }}</a>.
    </div>
  </div>
  <app-sponsor-form></app-sponsor-form>
</div>
<app-footer></app-footer>