<form *ngIf = "!successfullySent" class = "form-holder" [formGroup] = "registerForm" (ngSubmit) = "onSubmit()" style = "margin-top: 3rem;">

  <div class="row single-row">
    <div class = "form-label">{{ 'SPONSOR_FORM.COMPANY_NAME' | translate }}<span *ngIf = "!registerForm.get('company_name').valid && submit_once" class = "error-message">{{ 'SPONSOR_FORM.REQUIRED' | translate }}</span></div>
    <input class = "form-input" formControlName = 'company_name' type = "text">
  </div>
  <div class="row single-row">
    <div class = "form-label">{{ 'SPONSOR_FORM.CONTACT_EMAIL' | translate }}<span *ngIf = "!registerForm.get('contact_email').valid && submit_once" class = "error-message">{{ 'SPONSOR_FORM.REQUIRED' | translate }}</span></div>
    <input class = "form-input" formControlName = 'contact_email' type = "text">
  </div>
  <div class="row">
    <div class="col-sm-6 bot-col">
      <div class = "form-label">{{ 'SPONSOR_FORM.COUNTRY' | translate }}<span *ngIf = "!registerForm.get('country').valid && submit_once" class = "error-message">{{ 'SPONSOR_FORM.REQUIRED' | translate }}</span></div>
      <input class = "form-input" formControlName = 'country' type = "text">
    </div>
    <div class="col-sm-6 bot-col">
      <div class = "form-label">{{ 'SPONSOR_FORM.CITY' | translate }} <span *ngIf = "!registerForm.get('city').valid && submit_once" class = "error-message">{{ 'SPONSOR_FORM.REQUIRED' | translate }}</span></div>
      <input class = "form-input" formControlName = 'city' type = "text">
    </div>
  </div>
  <div class="row single-row">
    <div class = "form-label">{{ 'SPONSOR_FORM.ADDRESS' | translate }}<span *ngIf = "!registerForm.get('address').valid && submit_once" class = "error-message">{{ 'SPONSOR_FORM.REQUIRED' | translate }}</span></div>
    <input class = "form-input" formControlName = 'address' type = "text">
  </div>
  <div class="row single-row">
    <div class = "form-label">{{ 'SPONSOR_FORM.WEBSITE' | translate }}</div>
    <input class = "form-input" formControlName = 'website' type = "text" placeholder="optional">
  </div>
  
  <div class="row single-row text-area">
      <div class = "form-label text-area">{{ 'SPONSOR_FORM.COMMENT_QUESTION' | translate }}</div>
      <textarea type = "text" formControlName = 'comments' placeholder="optional"></textarea>
  </div>
  <div class = "submit-wrapper">
      <div [class.loader] = "loading"></div>
      <button type = "submit" class = "submit-btn" [disabled] = "loading">{{ 'SPONSOR_FORM.SUBMIT' | translate }}</button>
  </div>
</form>

<div *ngIf = "successfullySent" class = "status-adjustment">
    <img class="email-status-icon" src = "./assets/icons/circle-checkmark.svg">
    <div class = "email-status-text">{{ 'SPONSOR_FORM.SENT' | translate }}</div>
    <div class = "email-subtext">{{ 'SPONSOR_FORM.SENT_TO' | translate }}{{emailSentTo}}</div>
</div>