

<div class = "nav-top">
    <img src = "./assets/brand/logo-name-white.png">
</div>

<div class = "status-holder" *ngIf = "status == 'validated'">
    <img class="status-icon" src = "./assets/icons/circle-checkmark.svg">
    <div class = "status-text">{{ 'VALIDATE.EMAIL' | translate }}</div>
</div>

<div class = "status-holder" *ngIf = "status == 'expired'">
    <img class="status-icon" src = "./assets/icons/warning.svg">
    <div class = "status-text">{{ 'VALIDATE.EXPIRED' | translate }}</div>
</div>

<div class = "status-holder" *ngIf = "status == 'error'">
    <img class="status-icon" src = "./assets/icons/circle-x.svg">
    <div class = "status-text">{{ 'VALIDATE.ERROR' | translate }}</div>
</div>


